#canvas {
  background-color: black;
  border: solid 5px;
  border-color: black;
  border-radius: 25px;
  position: relative;
}

#canvasFrame {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-image: url(./img/9_intro_outro_screens/desert.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "roundup";
}

#headline {
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 2px 10px brown;
  top: 5%;
  position: absolute;
}

#headlineBottom {
  font-size: 80px;
  text-align: center;
  text-shadow: 2px 2px 10px brown;
  bottom: 5%;
  position: absolute;
}

#gameControls {
  width: 800px;
  height: 600px;
  position: absolute;
  background-color: transparent;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-none {
  display: none !important;
}

.btnStyle {
  position: absolute;
  background-color: orangered;
  padding: 10px;
  border-radius: 12px;
  box-shadow: inset 0px 0px 6px black;
  width: 32px;
  height: 32px;
}

.btnTouchStyl {
  border-radius: 100%;
  padding: 16px;
}

.btnHover:hover {
  background-color: rgb(255, 92, 32);
  cursor: pointer;
}

#audioImg {
  left: 320px;
  top: 25px;
}

.throw {
  bottom: 25px;
  left: 120px;
}

.jump {
  bottom: 25px;
  left: 25px;
}

.arrowRight {
  transform: rotate(180deg);
  bottom: 25px;
  right: 120px;
}

.arrowLeft {
  bottom: 25px;
  right: 25px;
}

#gameplayInfo {
  right: 120px;
  top: 25px;
}

#i {
  right: 25px;
  top: 25px;
}

#openScreenImg {
  right: 320px;
  top: 25px;
}

.startEndImg {
  width: 800px;
  height: 600px;
  border-radius: 25px;
  border: solid 5px;
  border-color: black;
}

.startEndScreen {
  position: relative;
}

#endScreen {
  background-color: black;
  border-radius: 25px;
}

.startEndBtn {
  top: 25px;
  left: 25px;
  font-weight: bold;
  font-size: 32px;
}

.infodDiv {
  width: 800px;
  height: 600px;
  background-color: rgb(255, 92, 32);
  border-radius: 25px;
  padding: 2%;
  box-sizing: border-box;
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  border: solid 5px;
  border-color: black;
  font-size: 32px;
}

#impressum::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar (for WebKit browsers) */
  height: 0; /* Hide the scrollbar (for WebKit browsers) */
}

#headerImpressum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#headerImpressum h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#closeImp {
  width: 40px;
  height: 40px;
}

#closeImp:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px black);
}

#turnDevice {
  width: 200px;
  height: 200px;
  display: none;
  animation: rotate 40s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive */

@media only screen and (max-width: 800px) and (orientation: portrait) {
  #canvas {
    width: 100%;
    display: none;
  }

  #turnDevice {
    display: block;
  }

  #audioImg {
    display: none;
  }

  #openScreenImg {
    display: none;
  }

  .startEndImg {
    display: none;
  }

  #startBtn {
    display: none;
  }
  #gameplayInfo {
    display: none;
  }
  #i {
    display: none;
  }
  #headline {
    display: none;
  }

  #headlineBottom {
    display: none;
  }
}

@media only screen and (max-width: 800px) and (orientation: landscape) {
  #canvas {
    width: 100%;
    display: block;
  }

  #headline {
    display: none;
  }

  #headlineBottom {
    display: none;
  }

  #turnDevice {
    display: none;
  }

  #audioImg {
    display: none;
  }

  #openScreenImg {
    display: none;
  }

  #throw {
    display: inline-block !important;
  }
  #jump {
    display: inline-block !important;
  }
  .arrowRight {
    display: inline-block !important;
  }
  .arrowLeft {
    display: inline-block !important;
  }
}

@media only screen and (max-height: 600px) {
  #canvas {
    height: 100vh;
    width: 100%;
  }
}
