body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-image: url(./img/9_intro_outro_screens/desert.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "roundup";
}

#canvas {
  background-color: black;
  border: solid 5px;
  border-color: black;
  border-radius: 25px;
  position: relative;
  width: 80vw;
  height: calc(80vw * 3 / 4);
  max-width: 800px;
  max-height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#headline,
#headlineBottom {
  font-size: 8vw; /* Responsive font size */
  text-align: center;
  text-shadow: 2px 2px 10px brown;
  position: absolute;
}

#headline {
  top: 5%;
}

#headlineBottom {
  bottom: 5%;
}

#gameControls {
  width: 80vw; /* Use 80% of the viewport width */
  height: calc(80vw * 3 / 4); /* Maintain 4:3 aspect ratio */
  max-width: 800px;
  max-height: 600px;
  position: absolute;
  background-color: transparent;
  z-index: 999; /* Increase z-index to ensure it stays on top */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-none {
  display: none !important;
}

.show-buttons {
  display: block !important;
}

.btnStyle {
  position: absolute;
  background-color: orangered;
  padding: 10px;
  border-radius: 12px;
  box-shadow: inset 0px 0px 6px black;
  width: 32px;
  height: 32px;
}

.btnTouchStyl {
  border-radius: 100%;
  padding: 16px;
}

.btnHover:hover {
  background-color: rgb(255, 92, 32);
  cursor: pointer;
}

#audioImg {
  left: 35%;
  top: 25px;
}

#openScreenImg {
  right: 35%;
  top: 25px;
}

#closeScreenImg {
  right: 35%;
  top: 25px;
}

.throw {
  bottom: 8px;
  left: 90px;
  opacity: 0.4;
}

.jump {
  bottom: 8px;
  left: 25px;
  opacity: 0.4;
}

.arrowRight {
  transform: rotate(180deg);
  bottom: 8px;
  right: 90px;
  opacity: 0.4;
}

.arrowLeft {
  bottom: 8px;
  right: 25px;
  opacity: 0.4;
}

#gameplayInfo {
  right: 120px;
  top: 25px;
}

#i {
  right: 25px;
  top: 25px;
}

.startEndImg {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: solid 5px;
  border-color: black;
}

.startEndScreen {
  position: relative;
  width: 80vw; /* Use 80% of the viewport width */
  height: calc(80vw * 3 / 4); /* Maintain 4:3 aspect ratio */
  max-width: 800px;
  max-height: 600px;
}

#endScreen {
  background-color: black;
  border-radius: 25px;
}

.startEndBtn {
  top: 25px;
  left: 25px;
  font-weight: bold;
  font-size: 32px;
}

#homeBtn {
  top: 25px;
  left: 90px;
}

.infodDiv {
  width: 80vw; /* Use 80% of the viewport width */
  height: calc(80vw * 3 / 4); /* Maintain 4:3 aspect ratio */
  max-width: 800px;
  max-height: 600px;
  background-color: rgb(255, 92, 32);
  border-radius: 25px;
  padding: 2%;
  box-sizing: border-box;
  overflow-y: scroll; /* Enable vertical scrolling */
  overflow-x: hidden; /* Hide horizontal scrollbar */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  border: solid 5px;
  border-color: black;
  font-size: 32px;
}

#impressum::-webkit-scrollbar {
  width: 0; /* Hide the scrollbar (for WebKit browsers) */
  height: 0; /* Hide the scrollbar (for WebKit browsers) */
}

#headerImpressum {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#headerImpressum h1 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#closeImp {
  width: 40px;
  height: 40px;
}

#closeImp:hover {
  cursor: pointer;
  filter: drop-shadow(0px 0px 4px black);
}

#turnDevice {
  width: 200px;
  height: 200px;
  display: none;
  animation: rotate 40s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive */

/* Portrait mode: Hide everything except #turnDevice for widths under 800px */
@media only screen and (max-width: 800px) and (orientation: portrait) {
  #canvas,
  #gameControls,
  .startEndScreen,
  .infodDiv,
  #headline,
  #headlineBottom {
    display: none;
  }

  #turnDevice {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

/* Landscape mode: Hide #turnDevice and only #headline, #headlineBottom for widths under 800px */
@media only screen and (max-width: 800px) and (orientation: landscape) {
  #headline,
  #headlineBottom,
  #turnDevice {
    display: none;
  }

  #canvas,
  #gameControls,
  .startEndScreen,
  .infodDiv {
    display: block;
  }

  .btnStyle {
    width: 16px;
    height: 16px;
  }

  /* Die folgenden Elemente sollen nur im Landscape-Modus und unter 800px Breite angezeigt werden */
  .throw,
  .jump,
  .arrowRight,
  .arrowLeft {
    display: block;
  }
}

/* Die folgenden Elemente sollen nur im Landscape-Modus und über 800px Breite ausgeblendet werden */
@media only screen and (min-width: 800px) and (orientation: landscape) {
  .throw,
  .jump,
  .arrowRight,
  .arrowLeft {
    display: none;
  }
}
