<section id="gameplay" class="d-none infodDiv">
    <span id="headerImpressum">
        <h1>Game movement</h1>
        <img id="closeImp" onclick="closeGameplayInfo()" src="img/12_symbols/loschen.png">
    </span>
    <p>Throw: D</p>
    <p>Jump: SPACE</p>
    <p>Run: Right & Left arrow</p>
    <p>In "Pepe Peligroso: El Pollo Loco," you embody the most dangerous man in the land, Pepe Peligroso. His mission? To strike fear into the hearts
        of chickens as he roams the countryside, ultimately facing off against the ultimate boss, El Pollo Loco.

        Your objective is to stomp on as many chickens as possible to summon and confront El Pollo Loco. As you traverse the game world, collect coins
        and salsa bottles scattered throughout to use against enemies.

        But beware: El Pollo Loco is no ordinary opponent. He will employ all means to thwart your progress and end your quest. To emerge victorious,
        you must utilize all your skills and devise a strategic approach.

        The game concludes once Pepe Peligroso successfully defeats El Pollo Loco. Do you possess the prowess to reign as the most feared man in the
        land and complete your mission? Find out in "Pepe Peligroso: El Pollo Loco"!</p>
</section>